$tablet: 768px;
$desktop: 1024px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$font-roboto-regular: "RobotoCondensed-Regular", arial, sans-serif;
$font-roboto-bold: "RobotoCondensed-Bold", arial, sans-serif;
$font-roboto-medium: "Roboto-Medium", arial, sans-serif;
$font-PTMono: "PTMono-Regular", monospace;
$font-sans-serif: arial, sans-serif;
$brown: #666666;
$white: #ffffff;
$white-2: #fafafa;
$black: #000000;
$black-2: #203c42;
$black-3: #1b2d37;
$grey-1: #c4c4c4;
$grey-2: #788891;
$grey-3: #788891;
$blue: #00b2ff;
