.advantages {
  padding-top: 109px;
}

.advantages__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages__item {
  width: calc(50% - 15px);
  min-height: 300px;
  padding: 40px 44px 42px 44px;
  margin: 0 0 30px 0;
  border: 1px solid #ebebeb;
  border-left: 3px solid $blue;

  &:last-child,
  &:nth-last-child(2) {
    margin-bottom: 0;
  }

  &:hover {
    background-color: $blue;
    color: $white;
  }

  &:hover .advantages__title {
    color: $white;
  }

  &:hover .advantages__icon {
    fill: $white;
  }
}

.advantages__title {
  @include font(24px, 34px, $font-roboto-regular, $blue);
  margin: 23px 0 15px;
}

.advantages__content {
  line-height: 22px;
  margin: 0;
}

.advantages__icon {
  fill: $blue;
}

.advantages__icon-stopwatch {
  width: 29px;
  height: 35px;
}

.advantages__icon-hired,
.advantages__icon-tag {
  width: 35px;
  height: 35px;
}

.advantages__icon-detective {
  width: 36px;
  height: 31px;
}

/* Tablet */
@media (max-width: $tablet) {
  .advantages {
    padding-top: 54px;
  }

  .advantages__title {
    margin: 14px 0 20px;
  }

  .advantages__item {
    min-height: 0;
    padding: 24px 25px;
  }
}

/* Mobile */
@media (max-width: $mobile) {
  .advantages {
    padding-top: 37px;
  }

  .advantages__title {
    margin-bottom: 16px;
  }

  .advantages__item {
    width: 100%;
    margin: 0 0 20px 0;
    padding-bottom: 16px;

    &:nth-last-child(2) {
      margin-bottom: 20px;
    }
  }
}
