.banner {
  padding: 143px 0 108px 0;
  min-height: 766px;
  overflow: hidden;
}

.banner__container {
  position: relative;
  z-index: 1;
}

.banner__content {
  max-width: 700px;
}

.banner__wrapper {
  position: absolute;
  top: -76px;
  left: 800px;
  z-index: -1;
  width: 705px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 611px;
    height: 488px;
    background: url("../img/icon-triangle-banner.svg") center no-repeat;
  }
}

.banner__content h1 {
  @include font(80px, 94px, $font-roboto-bold, $white);
  max-width: 683px;
  margin: 0 0 10px 0;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  word-spacing: normal;
}

.banner__content p {
  @include font(22px, 34px, $font-PTMono, $white);
  position: relative;
  margin: 0 0 50px 92px;

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: -94px;
    display: block;
    width: 66px;
    height: 2px;
    background-color: $white;
  }
}

/* Tablet */
@media (max-width: $tablet) {
  .banner {
    min-height: 612px;
    padding-top: 86px;
  }

  .banner__content {
    max-width: 410px;
  }

  .banner__content h1 {
    margin-bottom: 35px;
    margin-left: 64px;
    font-size: 60px;
    line-height: 70px;
    white-space: normal;
  }

  .banner__wrapper {
    position: absolute;
    left: 482px;
  }

  .banner__content p {
    min-width: 356px;
    margin: 0 0 64px 116px;
    font-size: 18px;
    line-height: 156.8%;

    &::before {
      content: "";
      display: block;
      width: 33px;
      top: 15px;
      left: -48px;
    }
  }

  .banner__wrapper img {
    width: 465px;
    height: 340px;
  }
}

/* Mobile */
@media (max-width: $mobile) {
  .banner {
    min-height: 407px;
    padding: 0 0 37px 0;
  }

  .banner__content {
    margin-right: auto;
    margin-left: auto;
    padding-top: 195px;
  }

  .banner__content h1 span {
    display: block;
  }

  .banner__content h1 {
    margin-left: 0;
    font-size: 40px;
    line-height: 47px;
  }

  .banner__content p {
    min-width: 245px;
    margin-left: 49px;
    font-size: 16px;
  }

  .banner__wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    width: 301px;
    transform: translateX(-50%);
  }

  .banner__wrapper img {
    width: 301px;
    height: 220px;
  }
}
