.btn {
  @include button-reset;
  @include font(14px, 16px, $font-roboto-bold, $white);
  min-width: 180px;
  min-height: 45px;
  padding: 14px 12px;
  border: 1px solid $white;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05em;
  cursor: pointer;
  background: transparent;
}

.btn--outline {
  margin: 0 0 0 38px;
}

.btn--white {
  color: $blue;
  border-color: $blue;
}

.btn--question {
  min-width: 270px;
  min-height: 45px;
  padding: 14px 18px;
}

.btn--blue {
  background-color: $blue;
  padding: 18px 45px;
  margin-left: 92px;
  border-color: transparent;
}

/* Tablet */
@media (max-width: $tablet) {
  .btn--outline {
    display: none;
  }

  .btn--blue {
    padding: 14px 17px;
  }
}


/* Mobile */
@media (max-width: $mobile) {
  .btn--blue {
    padding: 11px 17px;
  }
}
