.btn {
  @include button-reset;
  @include font(14px, 16px, $font-roboto-bold, $white);
  min-width: 180px;
  min-height: 45px;
  padding: 14px 12px;
  border: 1px solid $white;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05em;
  cursor: pointer;
  background: transparent;
}

.btn--outline {
  margin: 0 0 0 38px;
}

.btn--white {
  color: $blue;
  border-color: $blue;
}

.btn--question {
  min-width: 270px;
  min-height: 45px;
  padding: 14px 18px;
  margin-right: 38px;
}

.btn--submit {
  width: 100%;
}

.btn--blue {
  background-color: $blue;
  padding: 18px 45px;
  margin-left: 92px;
  border-color: transparent;
}

.btn-text-mobile {
  display: none;
}

.btn-text-desktop {
  display: block;
}

/* Tablet */
@media (max-width: $tablet) {
  .btn--outline {
    display: none;
  }

  .btn--blue {
    min-width: 379px;
    padding: 14px 25px;
    margin-right: 0;
    margin-left: 109px;
  }
}


/* Mobile */
@media (max-width: $mobile) {
  .btn--blue {
    min-width: 287px;
    padding: 11px 22px;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  .btn-text-mobile {
    display: block;
  }

  .btn-text-desktop {
    display: none;
  }
}
