.contacts {
  background-color: $blue;
  padding: 96px 0 118px;
}
.contacts__title {
  margin: 0;
  @include font(36px, 51px, $font-roboto-regular, $white);
}
.contacts p {
  color: $white;
}
.contacts__form input {
  background-color: $blue;
}
