.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 15px;
}

.advantages .container {
  max-width: 1170px;
}

.info .container {
  max-width: 1170px;
}

.services .container {
  max-width: 1170px;
}
