.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 7px 0 23px;
}

.advantages .container {
  max-width: 1200px;
}

.info .container {
  max-width: 1200px;
}

.services .container {
  max-width: 1200px;
}
