.contacts {
  position: relative;
  min-height: 670px;
  padding: 90px 40px;
  background: url("../img/icon-triangle-contacts.svg") left 174px top -60px no-repeat $blue;
}

.contacts__container {
  background: url("../img/paper-airplane-desktop@1x.png") left 118px top 69px no-repeat transparent;
  background-size: 511px 288px;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .contacts__container {
    background-image: url("../img/paper-airplane-desktop@2x.png");
  }
}

.contacts__wrapper {
  max-width: 570px;
  margin-left: auto;
  margin-right: 121px;
}

.contacts__wrapper form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts__name,
.contacts__phone {
  width: calc(50% - 15px);
  margin: 32px 0 40px;
}

.contacts__message {
  flex: 1 1 100%;
  margin-bottom: 41px;
}

.contacts__confidentiality {
  display: flex;
  align-items: center;
}

.contacts__confidentiality label {
  color: $white;
}

.contacts h2 {
  @include font(36px, 51px, $font-roboto-regular, $white);
  margin: 0;
}

.contacts p {
  color: $white;
}

.contacts__form input {
  background-color: $blue;
}

.contacts.modal {
  background-image: none;
}

@media (max-width: 1280px) {
  .contacts__container {
    background-position: left center;
  }

  .contacts__wrapper {
    margin-right: 0;
  }
}

/* Tablet */
@media (max-width: $tablet) {
  .contacts {
    min-height: 665px;
    padding-top: 75px;
    background: $blue;

    h2 {
      font-size: 32px;
    }
  }

  .contacts__container {
    padding-left: 50px;
    background: none;
  }

  .contacts__wrapper {
    max-width: none;
    margin-left: 0;
    margin-right: 40px;
  }

  .contacts__name,
  .contacts__phone {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .contacts__message {
    margin-bottom: 48px;
  }
}

/* Mobile */
@media (max-width: $mobile) {
  .contacts {
    min-height: 640px;
    padding: 33px 0 39px;

    h2 {
      font-size: 27px;
      line-height: 36px;
    }
  }

  .contacts__container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .contacts__wrapper {
    margin-right: 0;

    form {
      flex-direction: column;
    }
  }

  .contacts__name,
  .contacts__phone {
    width: 100%;
    margin: 0;
  }

  .contacts__name {
    margin-top: 16px;
  }

  .contacts__confidentiality {
    flex-direction: column;
  }

  .contacts__message {
    margin-bottom: 30px;
  }
}

/* Modal */
.modal {
  padding: 30px 40px;
}

.modal h2 {
  font-size: 28px;
  line-height: 140.62%;
}

.modal p {
  margin: 21px 0 35px 0;
  font-size: 16px;
  line-height: 22px;
}

.modal .contacts__confidentiality {
  flex-direction: column;
}

.modal .contacts__name,
.modal .contacts__phone {
  width: 100%;
  margin: 0 0 30px 0;
}
