.footer {
  padding: 65px 0 0 0;
  background: $grey-4;
}

.footer__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__list {
  @include list-reset;
  opacity: 0.5;
}

.column__services .footer__list {
  column-count: 2;
}

.footer__title {
  @include font(15px, 16px, $font-roboto-bold, $black-3);
  margin: 0 0 28px 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.footer__text {
  @include font(15px, 25px, $font-PTMono, $black-3);
}

.footer__company {
  display: none;
}

.footer__copyright  .footer__company {
  display: block;
  margin: 1em 0 1em;
}

.footer__copyright {
  border-top: 1px solid rgba(98, 105, 98, 0.5);
  margin-top: 16px;
}

.footer__copyright-text {
  @include font(13px, 24px, $font-PTMono, $black-3);
  opacity: 0.5;
}

.footer__list li {
  margin-right: 65px;
}

.footer__btn {
  display: none;
}

/* Tablet */
@media (max-width: $tablet) {
  .footer {
    padding: 19px 0 24px 0;
  }

  .footer__content {
    flex-wrap: wrap;
  }

  .footer__company {
    display: block;
    margin: 26px 0 31px;
  }

  .footer__copyright  .footer__company {
    display: none;
  }

  .column__services .footer__list {
    column-count: auto;
  }
}
/* Mobile */
@media (max-width: $mobile) {
  .footer__wrapper {
    flex-direction: column;
    text-align: center;
  }

  .footer__rights {
    display: none;
  }

  .footer__copyright-text {
    margin: 0;
  }

  .footer__company {
    margin: 26px 0 31px;
  }

  .footer__btn {
    @include button-reset;
    position: absolute;
    top: 15px;
    right: 0;
    display: block;
    width: 30px;
    height: 30px;
    background: url("../img/icon-plus.svg") center no-repeat transparent;
    cursor: pointer;
  }

  .footer__btn--opened {
    background-image: url("../img/icon-minus.svg");
  }

  .footer__list {
    display: none;
  }

  .footer__list--opened {
    display: block;
  }
}
