.info {
  padding: 90px 0 96px 0;
  background-image: url("img/year-desktop@1x");
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .info {
    background-image: url("img/year-desktop@2x");
  }
}

.info__title {
  @include font(36px, 51px, $font-roboto-regular, $brown);
  margin: 0 0 18px 0;
}

.info__description {
  line-height: 22px;
  margin-bottom: 50px;
  text-overflow: ellipsis;
}

/* Tablet */
@media (max-width: 1023px) {
  .info {
    padding: 30px 0 0 0;
  }
  .info__description {
    margin-bottom: 34px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .info {
    padding: 60px 0 0 0;
  }
}
