.info {
  padding: 90px 0 96px 0;
}

.info__container {
  padding-left: 200px;
  background: url("../img/year-desktop@1x.png") left center no-repeat transparent;
  background-size: 220px 317px;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .info__container {
    background-image: url("../img/year-desktop@2x.png");
  }
}

.info__title {
  @include font(36px, 51px, $font-roboto-regular, $brown);
  margin: 0 0 18px 0;
}

.info__description {
  line-height: 22px;
  margin-bottom: 50px;
  text-overflow: ellipsis;
}

/* Tablet */
@media (max-width: $tablet) {
  .info {
    padding: 60px 0 45px 0;
  }

  .info__description {
    margin-bottom: 34px;
  }

  .info__title {
    font-size: 32px;
  }
}

/* Mobile */
@media (max-width: $mobile) {
  .info {
    padding: 60px 0;
  }

  .info__container {
    background: none;
    padding-left: 15px;
  }
}
