.modal.contacts {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 25;
  width: 501px;
  min-height: 0;
  transform: translate(-50%, -50%);
  background-color: #00b2ff;
}

.modal {
  padding: 30px 40px;
}

.modal h2 {
  font-size: 28px;
  line-height: 140.62%;
}

.modal p {
  margin: 21px 0 35px 0;
  font-size: 16px;
  line-height: 22px;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background: url("../img/icon-close.svg") top right no-repeat transparent;
  border: 0;
  cursor: pointer;
  font-size: 0;

  &:hover,
  &:focus {
    border: 1px solid $white;
  }
}

.modal--close {
  display: none;
}
